body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #272f33;
}

.openChatBtn {
    display: inline-block;   
    padding: 20px 40px !important; 
    font-size: 24px !important;   
    border-radius: 12px;
    cursor: pointer;
    background-color: #141414;  
    color: rgb(255, 238, 0);
    border: none;
}

