body {

    background-color: #d0d0d0;
}

.openChatBtn {
    display: inline-block;   
    padding: 20px 40px !important; 
    font-size: 24px !important;   
    border-radius: 12px;
    cursor: pointer;
    background-color: #057382;  
    color: rgb(255, 255, 255);
    border: none;
    
}

.openChatBtn:hover {
    background-color: #046471;
    color: rgb(255, 255, 255);
}

body {
    font-family: Arial, sans-serif;
    background: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    max-width: 500px;
    width: 100%;
}

h1 {
    text-align: center;
    color: #333;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    background: #057382;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #075e6a;
}
